- var title = "Главная";
html
    include html/head
    body
        include html/header
        main.page
            h1 Главная
            img(src='@img/edit.svg')
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti harum tempora totam vitae ex blanditiis quibusdam perspiciatis aspernatur nemo. Dolorum?
            img(src="images/icons/icons.svg#show-pass" class="svg-show-pass-dims" alt="show-pass")
        include html/footer
        script(src='js/app.min.js')
